/*! core.scss | Bulkit | CSS Ninja */

/* ==========================================================================
CSS Core
========================================================================== */

@import "abstracts/theme";
@import "abstracts/fonts";
@import "abstracts/animations";
@import "layout/pageloader";
@import "layout/navbar";
@import "layout/sections";
@import "layout/navigation";
@import "components/pricing";
@import "components/buttons";
@import "components/forms";
@import "pages/one-page-2";
@import "utilities/utilities";
@import "layout/responsive";

$slick-font-path: "/assets/fonts/";
$slick-loader-path: "/assets/fonts/";

@import "../../../node_modules/slick-carousel/slick/slick.scss";
@import "../../../node_modules/slick-carousel/slick/slick-theme.scss";

@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";

.usp-description {
    color: #686767;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 13px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .is-flex-portrait {
        display: flex;
    }
}
