<!-- Navigation menu -->
<div id="components" class="navigation-menu-wrapper animated preFadeInRight fadeInRight is-hidden">
    <!-- Navigation Header -->
    <div class="navigation-menu-header">
        <span>Components</span>
        <a class="ml-auto hamburger-btn navigation-close" href="javascript:void(0);">
            <span class="menu-toggle">
                <span class="icon-box-toggle">
                    <span class="rotate">
                        <i class="icon-line-top"></i>
                        <i class="icon-line-center"></i>
                        <i class="icon-line-bottom"></i>
                    </span>
                </span>
            </span>
        </a>
    </div>
    <!-- Navigation body -->
    <ul class="navigation-menu">
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">view_quilt</span>Layout</a>
            <ul>
                <li><a class="is-submenu has-new-feature" href="/_components-layout-grid.html">Grid system</a></li>
                <li><a class="is-submenu" href="/_components-layout-video.html">Video background</a></li>
                <li><a class="is-submenu" href="/_components-layout-parallax.html">Parallax</a></li>
                <li><a class="is-submenu" href="/_components-layout-headers.html">Headers</a></li>
                <li><a class="is-submenu" href="/_components-layout-footers.html">Footers</a></li>
                <li><a class="is-submenu has-new-feature" href="/_components-layout-typography.html">Typography</a></li>
                <li><a class="is-submenu" href="/_components-layout-colors.html">Colors</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">subject</span>Navbars</a>
            <ul>
                <li><a class="is-submenu has-new-feature" href="/_components-layout-navbar-fade-light.html">Fade light</a></li>
                <li><a class="is-submenu has-new-feature" href="/_components-layout-navbar-fade-dark.html">Fade dark</a></li>
                <li><a class="is-submenu has-new-feature" href="/_components-layout-navbar-static-light.html">Static
                        light</a></li>
                <li><a class="is-submenu has-new-feature" href="/_components-layout-navbar-static-dark.html">Static
                        dark</a></li>
                <li><a class="is-submenu has-new-feature" href="/_components-layout-navbar-static-solid.html">Static
                        solid</a></li>
                <li><a class="is-submenu has-new-feature" href="/_components-layout-navbar-double-dark.html">Double
                        dark</a></li>
                <li><a class="is-submenu has-new-feature" href="/_components-layout-navbar-double-light.html">Double
                        light</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">view_stream</span>Sections</a>
            <ul>
                <li><a class="is-submenu" href="/_components-sections-features.html">Features</a></li>
                <li><a class="is-submenu" href="/_components-sections-pricing.html">Pricing</a></li>
                <li><a class="is-submenu" href="/_components-sections-team.html">Team</a></li>
                <li><a class="is-submenu" href="/_components-sections-testimonials.html">Testimonials</a></li>
                <li><a class="is-submenu" href="/_components-sections-clients.html">Clients</a></li>
                <li><a class="is-submenu" href="/_components-sections-counters.html">Counters</a></li>
                <li><a class="is-submenu" href="/_components-sections-carousel.html">Carousel</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link has-new" href="#"><span class="material-icons">playlist_add_check</span>Basic
                UI</a>
            <ul>
                <li><a class="is-submenu" href="/_components-basicui-cards.html">Cards</a></li>
                <li><a class="is-submenu" href="/_components-basicui-buttons.html">Buttons</a></li>
                <li><a class="is-submenu has-new-feature is-2_5" href="/_components-basicui-dropdowns.html">Dropdowns</a></li>
                <li><a class="is-submenu has-new-feature is-2_5" href="/_components-basicui-lists.html">Lists</a></li>
                <li><a class="is-submenu" href="/_components-basicui-modals.html">Modals</a></li>
                <li><a class="is-submenu" href="/_components-basicui-tabs.html">Tabs & pills</a></li>
                <li><a class="is-submenu" href="/_components-basicui-accordion.html">Accordions</a></li>
                <li><a class="is-submenu" href="/_components-basicui-badges.html">Badges & labels</a></li>
                <li><a class="is-submenu" href="/_components-basicui-popups.html">Popups</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link has-new" href="#"><span class="material-icons">playlist_add</span>Advanced
                UI</a>
            <ul>
                <li><a class="is-submenu" href="/_components-advancedui-tables.html">Tables</a></li>
                <li><a class="is-submenu" href="/_components-advancedui-timeline.html">Timeline</a></li>
                <li><a class="is-submenu" href="/_components-advancedui-boxes.html">Boxes</a></li>
                <li><a class="is-submenu" href="/_components-advancedui-messages.html">Messages</a></li>
                <li><a class="is-submenu" href="/_components-advancedui-megamenu.html">Megamenu</a></li>
                <li><a class="is-submenu has-new-feature is-2_5" href="/_components-advancedui-calendar.html">Calendar</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link has-new" href="#"><span class="material-icons">check_box</span>Forms</a>
            <ul>
                <li><a class="is-submenu has-new-feature is-2_5" href="/_components-forms-inputs.html">Inputs</a></li>
                <li><a class="is-submenu has-new-feature is-2_5" href="/_components-forms-controls.html">Controls</a></li>
                <li><a class="is-submenu has-new-feature is-2_5" href="/_components-forms-layouts.html">Form layouts</a></li>
                <li><a class="is-submenu has-new-feature is-2_5" href="/_components-forms-steps.html">Step forms</a></li>
                <li><a class="is-submenu" href="/_components-forms-uploader.html">Uploader</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">adjust</span>Icons</a>
            <ul>
                <li><a class="is-submenu" href="/_components-icons-im.html">Icons Mind</a></li>
                <li><a class="is-submenu" href="/_components-icons-sl.html">Simple Line Icons</a></li>
                <li><a class="is-submenu" href="/_components-icons-fa.html">Font Awesome</a></li>
                <li><a class="is-submenu" href="https://material.io/icons/" target="_blank">Material Icons</a></li>
                <li><a class="is-submenu has-new-feature" href="/_components-extensions-iconpicker.html">Icon Picker</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- /Navigation menu -->