<!-- Navigation menu -->
<div id="onepagers" class="navigation-menu-wrapper animated preFadeInRight fadeInRight is-hidden">
    <!-- Navigation Header -->
    <div class="navigation-menu-header">
        <span>One Pagers</span>
        <a class="ml-auto hamburger-btn navigation-close" href="javascript:void(0);">
            <span class="menu-toggle">
                <span class="icon-box-toggle">
                    <span class="rotate">
                        <i class="icon-line-top"></i>
                        <i class="icon-line-center"></i>
                        <i class="icon-line-bottom"></i>
                    </span>
                </span>
            </span>
        </a>
    </div>
    <!-- Navigation body -->
    <ul class="navigation-menu">
        <li class="has-children"><a class="parent-link has-new" href="#"><span class="material-icons">web</span>One Pager 1</a>
            <ul>
                <li><a class="is-submenu has-new-update is-2_3" href="/one-pager-1/">Header 1</a></li>
                <li><a class="is-submenu has-new-update is-2_3" href="/one-pager-1/op1-2.html">Header 2</a></li>
                <li><a class="is-submenu has-new-update is-2_3" href="/one-pager-1/op1-3.html">Header 3</a></li>
                <li><a class="is-submenu has-new-update is-2_3" href="/one-pager-1/op1-4.html">Header 4</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link has-new" href="#">
                <span class="material-icons">web</span>One Pager 2</a>
            <ul>
                <li><a class="is-submenu has-new-update is-2_4" href="/one-pager-2/">Landing Page</a></li>
            </ul>
        </li>
    </ul>
</div>