<!-- Navigation menu -->
<div id="demo-pages" class="navigation-menu-wrapper animated preFadeInRight fadeInRight">
    <!-- Navigation Header -->
    <div class="navigation-menu-header">
        <span>Demo pages</span>
        <a class="ml-auto hamburger-btn navigation-close" href="javascript:void(0);">
            <span class="menu-toggle">
                <span class="icon-box-toggle">
                    <span class="rotate">
                        <i class="icon-line-top"></i>
                        <i class="icon-line-center"></i>
                        <i class="icon-line-bottom"></i>
                    </span>
                </span>
            </span>
        </a>
    </div>
    <!-- Navigation Body -->
    <ul class="navigation-menu">
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">weekend</span>Agency kit</a>
            <ul>
                <li><a class="is-submenu" href="/agency/index.html">Homepage</a></li>
                <li><a class="is-submenu" href="/agency/agency-about.html">About</a></li>
                <li><a class="is-submenu" href="/agency/agency-portfolio.html">Portfolio</a></li>
                <li><a class="is-submenu" href="/agency/agency-contact.html">Contact</a></li>
                <li><a class="is-submenu" href="/agency/agency-blog.html">Blog</a></li>
                <li><a class="is-submenu" href="/agency/agency-post-sidebar.html">Post sidebar</a></li>
                <li><a class="is-submenu" href="/agency/agency-post-nosidebar.html">Post no sidebar</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">wb_incandescent</span>Startup kit</a>
            <ul>
                <li><a class="is-submenu" href="/startup/index.html">Homepage</a></li>
                <li><a class="is-submenu" href="/startup/startup-about.html">About</a></li>
                <li><a class="is-submenu" href="/startup/startup-product.html">Product</a></li>
                <li><a class="is-submenu" href="/startup/startup-contact.html">Contact</a></li>
                <li><a class="is-submenu" href="/startup/startup-login.html">Login</a></li>
                <li><a class="is-submenu" href="/startup/startup-signup.html">Sign up</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">apps</span>Landing kit 1</a>
            <ul>
                <li><a class="is-submenu" href="/landing-kits/kit-1/index.html">Landing page</a></li>
                <li><a class="is-submenu" href="/landing-kits/kit-1/kit1-features.html">Feature page</a></li>
                <li><a class="is-submenu" href="/landing-kits/kit-1/kit1-pricing.html">Pricing page</a></li>
                <li><a class="is-submenu" href="/landing-kits/kit-1/kit1-login.html">Login page</a></li>
                <li><a class="is-submenu" href="/landing-kits/kit-1/kit1-signup.html">Signup page</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">timelapse</span>Landing kit 2</a>
            <ul>
                <li><a class="is-submenu" href="/landing-kits/kit-2/index.html">Landing page</a></li>
                <li><a class="is-submenu" href="/landing-kits/kit-2/kit2-features.html">Feature page</a></li>
                <li><a class="is-submenu" href="/landing-kits/kit-2/kit2-pricing.html">Pricing page</a></li>
                <li><a class="is-submenu" href="/landing-kits/kit-2/kit2-login.html">Login page</a></li>
                <li><a class="is-submenu" href="/landing-kits/kit-2/kit2-signup.html">Signup page</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">assistant</span>Landing kit 3</a>
            <ul>
                <li><a class="is-submenu" href="/landing-kits/kit-3/index.html">Landing page</a></li>
                <li><a class="is-submenu" href="/landing-kits/kit-3/kit3-features.html">Feature page</a></li>
                <li><a class="is-submenu" href="/landing-kits/kit-3/kit3-pricing.html">Pricing page</a></li>
                <li><a class="is-submenu" href="/landing-kits/kit-3/kit3-login.html">Login page</a></li>
                <li><a class="is-submenu" href="/landing-kits/kit-3/kit3-signup.html">Signup page</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">brightness_2</span>Landing kit 4</a>
            <ul>
                <li><a class="is-submenu" href="/landing-kits/kit-4/index.html">Landing page</a></li>
                <li><a class="is-submenu" href="/landing-kits/kit-4/kit4-pricing.html">Pricing page</a></li>
                <li><a class="is-submenu" href="/landing-kits/kit-4/kit4-help.html">Help center</a></li>
                <li><a class="is-submenu" href="/landing-kits/kit-4/kit4-help-category.html">Help category</a></li>
                <li><a class="is-submenu" href="/landing-kits/kit-4/kit4-help-article.html">Help article</a></li>
                <li><a class="is-submenu" href="/landing-kits/kit-4/kit4-signup.html">Login</a></li>
                <li><a class="is-submenu" href="/landing-kits/kit-4/kit4-login.html">Sign up</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">toys</span>Landing kit 5</a>
            <ul>
                <li><a class="is-submenu has-new-feature" href="/landing-kits/kit-5/index.html">Landing page</a></li>
                <li><a class="is-submenu has-new-feature" href="/landing-kits/kit-5/kit5-features.html">Feature
                        page</a></li>
                <li><a class="is-submenu has-new-feature" href="/landing-kits/kit-5/kit5-pricing.html">Pricing
                        Page</a></li>
                <li><a class="is-submenu has-new-feature" href="/landing-kits/kit-5/kit5-login.html">Login /
                        Signup</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">mouse</span>Landing kit 6</a>
            <ul>
                <li><a class="is-submenu has-new-update" href="/landing-kits/kit-6/index.html">Landing page</a></li>
                <li><a class="is-submenu has-new-update" href="/landing-kits/kit-6/kit6-landing.html">Landing page
                        v2</a></li>
                <li><a class="is-submenu has-new-update" href="/landing-kits/kit-6/kit6-login.html">Login page</a></li>
                <li><a class="is-submenu has-new-update" href="/landing-kits/kit-6/kit6-signup.html">Signup page</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link has-new" href="#"><span class="material-icons">work</span>Landing kit
                7</a>
            <ul>
                <li><a class="is-submenu has-new-update is-2_5" href="/landing-kits/kit-7/index.html">Landing page</a></li>
                <li><a class="is-submenu has-new-update is-2_5" href="/landing-kits/kit-7/kit7-landing.html">Landing page v2</a></li>
                <li><a class="is-submenu has-new-update is-2_5" href="/landing-kits/kit-7/kit7-authentication.html">Auth page</a></li>
                <li><a class="is-submenu has-new-update is-2_5" href="/landing-kits/kit-7/kit7-pricing.html">Pricing page</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link has-new" href="#"><span class="material-icons">backspace</span>Error
                Kit</a>
            <ul>
                <li><a class="is-submenu has-new-update is-2_4" href="/landing-kits/kit-error/index.html">Error 404 (V1)</a>
                </li>
                <li><a class="is-submenu has-new-update is-2_4" href="/landing-kits/kit-error/error-2.html">Error 404 (V2)</a>
                </li>
                <li><a class="is-submenu has-new-update is-2_4" href="/landing-kits/kit-error/error-3.html">Error 404 (V3)</a>
                </li>
                <li><a class="is-submenu has-new-update is-2_4" href="/landing-kits/kit-error/error-4.html">Error 404 (V4)</a>
                </li>
                <li><a class="is-submenu has-new-update is-2_4" href="/landing-kits/kit-error/error-5.html">Error 404 (V5)</a>
                </li>
                <li><a class="is-submenu has-new-update is-2_4" href="/landing-kits/kit-error/error-6.html">Error 404 (V6)</a>
                </li>
                <li><a class="is-submenu has-new-update is-2_4" href="/landing-kits/kit-error/error-7.html">Error 500 (V1)</a>
                </li>
                <li><a class="is-submenu has-new-update is-2_4" href="/landing-kits/kit-error/error-8.html">Error 500 (V2)</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- /Navigation menu -->