<nav class="navbar is-transparent is-fixed-top is-faded">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img class="light-logo" src="assets/img/logo/logo_light.png" width="28" height="28" alt="">
                <img class="dark-logo is-hidden" src="assets/img/logo/logo_dark.png" width="28" height="28" alt="">
                <span style="padding-left: 10px;">AppEx</span>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item has-hover">

                </a>

                <a href="feature.html" class="navbar-item has-hover">
                    Wie hilft Appex?
                </a>

                <a href="licences.html" class="navbar-item has-hover">
                    Lizenzen
                </a>
            </div>

            <div class="navbar-end has-hover">
                <!-- <a class="navbar-item has-border-right">
                    Login
                </a> -->
                <!-- <div class="separator"></div> -->
                <div class="navbar-item">
                    <a href="licences.html" class="button cta-button is-rounded primary-button">Interessiert?</a>
                </div>
            </div>
        </div>
    </div>
</nav>