---
layout: default
title: Wie hilft AppEx?
---

{{> navbar}}

<div class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Wie hilft AppEx?
            </h1>
            <p class="feature-page-user-group-title">
                Bauherren, Bauherrenvertreter:
            </p>
            <ul class="feature-page-use-group">
                <li>
                    - Wichtige Fragen werden frühzeitig gestellt und beantwortet
                </li>
                <li>
                    - Erfahrungen aus Betrieb und Unterhalt fliessen in der Projektierung ein
                </li>
                <li>
                    - Reduziert die Zahl der vermeidbaren Fehler, welche zu Mehrkosten und Nachträgen führen
                </li>
                <li>
                    - Ermöglicht ein richtiges PQM und Risikomanagement in allen Projektphasen
                </li>
                <li>
                    - Erhöht die Transparenz über den Stand des Projektes und reduziert das Potenzial für Überraschungen
                </li>
            </ul>
            <p class="feature-page-user-group-title">
                Projektleiter, Gesamtplaner
            </p>
            <ul class="feature-page-use-group">
                <li>
                    - Verbessert die Koordination zwischen verschiedenen Disziplinen (z.B. Gebäudetechnik und Architektur).
                </li>
                <li>
                    - Leistungen im Projekt werden klar definiert und zugeordnet
                </li>
                <li>
                    - Probleme werden frühzeitig erkannt, Entscheide werden rechtzeitig getroffen
                </li>
                <li>
                    - Ermöglicht eine strukturierte Planung der Planung und Arbeitsvorbereitung
                </li>
                <li>
                    - Reduziert Garantiearbeiten und Versicherungsfälle
                </li>
                <li>
                    - Reduziert die Anzahl von Irrtümern und Versäumnissen, welche die Honorare schmälern
                </li>
                <li>
                    - Wir übernehmen die Einführung von AppEx und die Wissenserfassung im Projektteam
                </li>
            </ul>
            <p class="feature-page-user-group-title">
                Bauleiter, Architekten, Ingenieure
            </p>
            <ul class="feature-page-use-group">
                <li>
                    - Macht Wissen einfach auffindbar und anwendbar (Zeitersparnis 10% - 15%)
                </li>
                <li>
                    - Lässt Sie dank Input von anderen Projekten schneller und effizienter arbeiten (Zeitersparnis 20% - 30%)
                </li>
                <li>
                    - Verhindert, dass Sie die Arbeitsprodukte anderer nachbessern müssen (Zeitersparnis 20% - 30%)
                </li>
            </ul>
        </div>
    </div>
</div>