---
layout: default
title: Start
---

{{> navbar}}

<div class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-hero-caption is-vcentered">
                <!-- Caption -->
                <div class="column ">
                    <h1 class="title is-1">
                        <span id="landing-title">Applied Experience</span>
                    </h1>
                    <br>
                    <h2 class="subtitle is-5">
                        AppEx ist ein cloudbasiertes Planungs- und Reporting Tool für:
                    </h2>
                    <div class="usp-description">
                        • Bauherren und Bauherrenvertreter
                    </div>
                    <div class="usp-description">• Architektur-, Ingenieur- und Generalplaner-Firmen</div>
                    <div class="usp-description">
                        • Generalunternehmer, Baumanagement-Firmen
                    </div>
                    <div class="usp-description">
                        AppEx hilft Ihnen bei der Planung Ihrer Aufgaben und ermöglicht eine Qualitätskontrolle Ihrer
                        Arbeitsprodukte. Mit AppEx sparen Sie Zeit und vermeiden Fehler.
                    </div>
                    <br>
                    <a href="feature.html" class="button cta-button is-rounded primary-button">Wie hilft mir Appex?</a>
                </div>
                <div class="column ">
                    <img class="hero-mockup" src="assets/img/illustrations/appex-app.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="main-features" class="section">
    <div class="container">
        <!--Wrapper-->
        <div class="content-wrapper">
            <div class="columns is-vcentered is-variable is-8 is-flex-tablet">
                <!--Feature text-->
                <div class="column is-5 is-offset-1">
                    <div class="side-title">
                        <h3 class="title is-2">AppEx stellt sicher, dass die Planung koordiniert und ausführbar ist.
                        </h3>
                    </div>
                    <p class="side-paragraph has-margin">
                        Während der Projektierung und nicht erst auf der Baustelle.
                        <br> <br>
                        AppEx hilft Ihnen, die wichtigen Fragen frühzeitig zu klären und Entscheide termingerecht zu
                        treffen.
                        <br> <br>
                        Wie gut ist die Qualität der Planung? Sind alle Gewerke miteinander koordiniert? Kann man
                        diese Pläne so bauen? Wann brauchen wir welche Entscheide?
                    </p>
                </div>
                <!--Stacked phones-->
                <div class="column is-5 is-relative is-centered-portrait">

                    <!-- pyramid with jagged corners -->
                    <img src="./assets/img/appex/tower.png" alt="how appex works">
                </div>
            </div>
        </div>
    </div>
</div>

<!--Feature Section 2-->
<div id="features-2" class="section">
    <div class="container">
        <!--Wrapper-->
        <div class="content-wrapper has-margin-bottom">
            <div class="columns is-vcentered is-variable is-8">
                <!--Laptop-->
                <div class="column is-5 is-offset-1 is-centered-portrait">
                    <img src="./assets/img/appex/calendar.png" alt="how appex works">
                </div>
                <!--Content-->
                <div class="column is-5">
                    <div class="side-title">
                        <h3 class="title is-2">Nutzen</h3>
                    </div>
                    <p class="side-paragraph has-margin">
                    <div class="side-paragraph bullet-list-item">
                        Mit AppEx arbeiten Sie effizienter und vermeiden Fehler. Das resultiert in einer Reduktion
                        der
                        Projektkosten von 3-5%.
                    </div>
                    <div class="side-paragraph bullet-list-item">
                        Im Durchschnitt verbringen wir 25% bis 30% unserer Zeit mit Problemen, die vorhersehbar waren.
                        Ähnlich viel Zeit geht wegen unklaren Leistungsbeschrieben verloren. 50% bis 60% unserer
                        Arbeitszeit sind nicht wertschöpfend. AppEx räumt mit diesen
                        Leerläufen auf.
                    </div>
                    <div class="side-paragraph bullet-list-item">
                        AppEx ermöglicht eine unkomplizierte Qualitätskontrolle von Arbeitsprodukten und
                        Dienstleistungen in allen Projektphasen.
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Feature Section 3-->
<div class="section">
    <div class="container">
        <!--Wrapper-->
        <div class="content-wrapper">
            <div class="columns is-vcentered is-variable is-8">
                <!--Feature text-->
                <div class="column is-5 is-offset-1 ">
                    <div class="side-title">
                        <h3 class="title is-2">So funktioniert AppEx</h3>
                    </div>
                    <p class="side-paragraph has-margin">
                    <div class="side-paragraph">
                        AppEx stellt einen geschlossenen Kreislauf für Wissensmanagement dar.
                    </div>

                    <div class="side-paragraph bullet-list-item">
                        - Wissensdatenbank: Lehren werden in Gewerke und Projektphasen organisiert.
                    </div>
                    <div class="side-paragraph bullet-list-item">
                        - Projektsteuerung: Erfahrungen werden in Projekten zur Planung der Planung und zur
                        Qualitätskontrolle in jeder Phase verwendet.
                    </div>
                    <div class="side-paragraph bullet-list-item">
                        - Neue Erfahrungen: Erfahrungen aus Projekten werden erfasst und als Fragen in die
                        Wissensdatenbank überführt
                    </div>
                    </p>
                </div>
                <!--Stacked phones-->
                <div class="column is-5 is-relative is-centered-portrait">

                    <!-- CHECKLISTS -->
                    <img src="assets/img/appex/star.png" alt="how appex works">
                </div>
            </div>
        </div>
    </div>
</div>

<!--Icons Section-->
<div class="section is-medium">
    <div class="container">

        <!--Wrapper-->
        <div class="columns">
            <div class="column is-5 is-offset-1">

                <!--Icon Block-->
                <div class="feature-block">
                    <div class="round-icon is-icon-reveal">
                        <img src="assets/img/icons/features/list.svg" alt="">
                    </div>
                    <div class="meta">
                        <span>Checklisten erstellen und Aufgaben zuweisen</span>
                    </div>
                </div>
                <!--Icon Block-->
                <div class="feature-block">
                    <div class="round-icon is-icon-reveal">
                        <img src="assets/img/icons/features/share.svg" alt="">
                    </div>
                    <div class="meta">
                        <span>Fragen mit Personen innerhalb und ausserhalb Ihrer Organisation teilen</span>
                    </div>
                </div>
                <!--Icon Block-->
                <div class="feature-block">
                    <div class="round-icon is-icon-reveal">
                        <img src="assets/img/icons/features/coordinate.svg" alt="">
                    </div>
                    <div class="meta">
                        <span>Projektpflichtenhefte, Ausschreibungen, Ausführungspläne koordinieren</span>
                    </div>
                </div>
            </div>
            <div class="column is-5">
                <!--Icon Block-->
                <div class="feature-block">
                    <div class="round-icon is-icon-reveal">
                        <img src="assets/img/icons/features/prüfdokument.svg" alt="">
                    </div>
                    <div class="meta">
                        <span>Prüfdokumente erstellen</span>
                    </div>
                </div>
                <!--Icon Block-->
                <div class="feature-block">
                    <div class="round-icon is-icon-reveal">
                        <img src="assets/img/icons/features/files-and-folders.svg" alt="">
                    </div>
                    <div class="meta">
                        <span>Traktandenlisten für Sitzungen erstellen</span>
                    </div>
                </div>
                <!--Icon Block-->
                <div class="feature-block">
                    <div class="round-icon is-icon-reveal">
                        <img src="assets/img/icons/features/dashboard.svg" alt="">
                    </div>
                    <div class="meta">
                        <span>Auf einen Blick den Projektstatus mit Handlungsbedarf und Risiken sehen.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section is-grey">
    <div class="container">
        <div class="content-wrapper">
            <div class="columns is-vcentered is-multiline">
                <a href="https://www.dpr.com/" target="_blank" class="column is-2" title="DPR Construction">
                    <img class="client-logo" src="assets/img/clients/dpr.png" alt="DPR Construction">
                </a>
                <a href="https://www.jauslinstebler.ch/home.html" target="_blank" class="column is-2" title="Jauslin Stebler">
                    <img class="client-logo" src="assets/img/clients/jauslin.svg" alt="Jauslin Stebler">
                </a>
                <a href="https://www.helvetia.com/corporate/web/en/home.html" target="_blank" class="column is-2" title="Helvetia Group">
                    <img class="client-logo" src="assets/img/clients/helvetia.png" alt="Helvetia Group">
                </a>
                <a href="https://valke.ch/" target="_blank" class="column is-2" title="VALKE GmbH Baumanagement">
                    <img class="client-logo" src="assets/img/clients/valke.svg" alt="VALKE GmbH Baumanagement">
                </a>
                <a href="https://projektbeweger.ch/" target="_blank" class="column is-2" title="Projektbeweger">
                    <img class="client-logo" src="assets/img/clients/projektbeweger.png" alt="Projektbeweger">
                </a>
                <a href="https://www.ittenbrechbuehl.ch/" target="_blank" class="column is-2" title="IttenBrechbühl Architekten und Generalplaner">
                    <img class="client-logo" src="assets/img/clients/ittenbrechboi.png" alt="IttenBrechbühl Architekten und Generalplaner">
                </a>
                <a href="https://www.etavis.ch/arnold/de/" target="_blank" class="column is-2" title="Etavis Arnold AG">
                    <img class="client-logo" src="assets/img/clients/etavis.png" alt="Etavis Arnold AG">
                </a>
                <a href="https://krayer-architektur.ch/" target="_blank" class="column is-3" title="Krayer Architektur">
                    <img class="client-logo" src="assets/img/clients/krayer.png" alt="Krayer Architektur" >
                </a>
                <a href="https://mrh.ch/" target="_blank" class="column is-4" title="Matti Ragaz Hitz Architekten AG">
                    <img class="client-logo" src="assets/img/clients/mrh.svg" alt="Matti Ragaz Hitz Architekten AG" >
                </a>
            </div>
            <!--Testimonials-->
            <div class="carousel-wrapper">
                <div class="carousel">

                    <!--Carousel item-->
                    <div class="carousel-item">
                        <i class="fa fa-quote-left"></i>
                        <p class="quote-paragraph">Mit AppEx können wir als Baumanagementbüro sicherstellen, dass allen
                            Projektbeteiligten die
                            richtigen Fragen zur richtigen Zeit gestellt werden und so zusätzliche Aufwände vermieden
                            werden. Dieses Tool ermöglicht uns den Wissensaustausch und die Qualitätskontrolle in allen
                            Projektphasen. Durch die erfassten Erfahrungen aus der Projektierung, Ausschreibung und
                            Realisierung, wird die Effizienz erhöht. Wir als Valke GmbH setzen auf die Zukunft und auf
                            AppEx.</p>
                        <div class="item-footer">
                            <img src="assets/img/testimonials/benjamin_wendel.jpg" alt="Benjamin Wendel">

                            <div class="meta">
                                <span>Benjamin Wendel</span>
                                <span>Geschäftsführer/Inhaber, Valke GmbH Baumanagement</span>
                            </div>
                        </div>
                    </div>
                    <!--Carousel item-->
                    <div class="carousel-item">
                        <i class="fa fa-quote-left"></i>
                        <p class="quote-paragraph">Bei AppEx hat uns überzeugt, dass keine vorgefertigten Antworten
                            geliefert werden, sondern durch sinnvolle Fragestellungen der Mitarbeitende zum Denken
                            angeregt wird. Dadurch werden nicht nur Fehler vermieden, sondern insbesondere können auch
                            erfahrende Mitarbeiter ihr Wissen an Jüngere weitergeben.</p>
                        <p class="quote-paragraph"></p> Die thematische Strukturierung und
                        übersichtliche Oberfläche macht die Bedienung einfach und effizient.</p>

                        <div class="item-footer">
                            <img src="assets/img/testimonials/andres_linder.jpg"
                                data-demo-src="assets/img/testimonials/andres_linder.jpg" alt="Andres Linder">
                            <div class="meta">
                                <span>Andres Linder</span>
                                <span>Geschäftsleitung, Jauslin Stebler AG</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <i class="fa fa-quote-left"></i>
                        <p class="quote-paragraph">Viele Fehler werden leider viel zu häufig wiederholt. Appex hilft
                            uns, die Probleme aktuell auf der Baustelle zu erfassen, damit diese nicht vergessen gehen.
                            Am Ende der Baustelle besprechen wir im Team die Probleme und erstellen Lösungen für
                            künftige Projekte. Dank AppEx können wir nun Fehler vermeiden bevor sie entstehen.
                        </p>

                        <div class="item-footer">
                            <img src="assets/img/testimonials/damianmeichtry.png"
                                data-demo-src="assets/img/testimonials/andres_linder.jpg" alt="Andres Linder">
                            <div class="meta">
                                <span>Damian Meichtry</span>
                                <span>Geschäftsführer Etavis Arnold AG</span>
                            </div>
                        </div>
                    </div>
                    <!--Carousel item-->
                    <div class="carousel-item">
                        <i class="fa fa-quote-left"></i>
                        <p class="quote-paragraph">Wir sehen das grösste Potenzial von AppEx beim kontinuierlichen
                            Erfassen von Erfahrungen und
                            Lehren bei den aktuellen Projekten.</p>

                        <p class="quote-paragraph">Die Erfahrungen und Lehren aus den Projekten sind dadurch für alle
                            viel besser auffindbar und
                            anwendbar für zukünftige Projekte. Wir erhoffen uns, dass durch diesen kontinuierlichen
                            Verbesserungsprozess die Qualität der Planung weiter erhöht wird und Fehler vermieden
                            werden.</p>

                        <p class="quote-paragraph">Die Zusammenarbeit mit Applied Experience ist aus unserer Sicht
                            ausgezeichnet und sehr
                            spannend. Gegenseitig können wir unser spezifisches Wissen optimal in die Diskussionen
                            einbringen.</p>

                        <div class="item-footer">
                            <img src="assets/img/testimonials/urs_schaer.jpg" alt="Urs Schär">

                            <div class="meta">
                                <span>Urs Schär</span>
                                <span>Partner, Leiter Projektierung und Planung, matti ragaz hitz architekten ag</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section is-grey">
    <div class="container">
        <div class="content-wrapper">
            <div class="columns is-vcentered">
                <div class="column">

                </div>
            </div>
        </div>
    </div>
</div>

<!--Footer-->
<footer class="footer" id="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <img class="footer-logo" src="assets/img/logo/logo-white.png">

            </div>
            <div class="column">
            </div>
            <div class="column">
                <!-- <h4 class="title is-light is-5">Mehr erfahren</h4> -->
                <!-- <ul class="footer-menu"> -->
                <!-- <li><a href="#">Open Account</a></li> -->
                <!-- <li><a href="#">Features</a></li> -->
                <!-- <li><a href="#">Pricing</a></li> -->
                <!-- </ul> -->
            </div>
            <div class="column">
                <h4 class="title is-light is-5">Kontakt</h4>
                <ul class="footer-menu">
                    <li>+41 79 520 6218</li>
                    <li>info@appex.ch</li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <!-- <img class="copyright-logo" src="assets/img/logo/logo_light.png" width="112" height="28" alt=""> -->
            <div class="copyright-text">&copy; 1997-2020 Applied Experienced GmbH All Rights Reserved</div>
        </div>
    </div>
</footer>

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>