---
layout: default
title: Lizenzen
---

{{> navbar}}

<div class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Interessiert? - Lizenzen
            </h1>

            <p>
                Applied Experience GmbH arbeitet mit innovativen Firmen in der Architektur- und Bauindustrie zusammen.
            </p>
            <br>
            <p>
                Die AppEx Software wird in einem Lizenzmodel angeboten. Massgebend ist die Anzahl Nutzer pro Monat. In
                der Lizenz inbegriffen ist das "Basiswissen Hochbau" mit über 1'300 Lehren zu allen Projektphasen und
                Gewerken.
                Damit ist sichergestellt, dass sie bei der Einführung Ihrer Wissensmanagement-Initiative nicht bei null
                anfangen müssen. Kunden können das "Basiswissen Hochbau" natürlich beliebig
                anpassen und mit
                eigenen Lehren ergänzen.
            </p>
            <br>
            <p>
                Im Weiteren stehen wir Ihnen bei der Einführung der AppEx Software und dem Aufbau von
                Wissensmanagement
                Prozessen in Ihrer Firma beratend bei. Damit stellen wir sicher, dass Ihre Investition nachhaltig und
                erfolgreich
                ist.
            </p>
            <br>
            <p>
                Sind Sie an einer Zusammenarbeit interessiert? Sie erreichen uns unter info@appex.ch oder (079) 520 62
                18.
            </p>
        </div>
    </div>
</div>