<!-- Concatenated js plugins -->
<script src="{{ root }}assets/js/app.js"></script>

<!-- Bulkit js -->
<script src="{{ root }}assets/js/functions.js"></script>
<script src="{{ root }}assets/js/main.js"></script>
