<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" />

        <title> Applied Experience</title>
        <meta name="title" content="AppEx - Applied Experience">
        <meta name="description" content="AppEx is a cloud-based planning and reporting tool for the construction industry.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://appex.ai/">
        <meta property="og:title" content="AppEx - Applied Experience">
        <meta property="og:description" content="AppEx is a cloud-based planning and reporting tool for the construction industry.">
        <meta property="og:image" content="{{root}}assets/img/illustrations/appex-app.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://appex.ai/">
        <meta property="twitter:title" content="AppEx - Applied Experience">
        <meta property="twitter:description" content="AppEx is a cloud-based planning and reporting tool for the construction industry.">
        <meta property="twitter:image" content="{{root}}assets/img/illustrations/appex-app.png">

        <!--Core CSS -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="{{root}}assets/css/bulma.css">
        <link rel="stylesheet" href="{{root}}assets/css/app.css">
        <link rel="stylesheet" href="{{root}}assets/css/core.css">
        <link rel="stylesheet" href="{{root}}assets/css/all.css">

        <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "Corporation",
              "name": "Applied Experience GmbH",
              "alternateName": "Appex",
              "url": "https://appex.ch",
              "logo": "https://appex.ch/assets/img/logo/logo_dark.png",
              "contactPoint": {
                "@type": "ContactPoint",
                "telephone": "+41 79 520 6218",
                "contactType": "customer service",
                "areaServed": "CH",
                "availableLanguage": ["en","fr","German","Italian"]
              },
              "sameAs": "https://appex.ai"
            }
        </script>
    </head>
    <body>
        <!-- {{> pageloader}} -->
        {{> body}}
        {{> scripts}}
    </body>
</html>
